@page "/{uid}"
@using Flurl.Http;
@using ShikkhanobishTimeline.Model



<html>
<head>
</head>
<body style="margin:0;padding:0;">
    @foreach (var plist in postList)
    {
        foreach (var tlist in tagList)
        {
            if (plist.tagID == tlist.tagID)
            {
                <div>
                    <div class="form-group row " style="background-color:white">
                        <div class="col-md-4">

                        </div>

                        <div class="card col-md-4 shadow-sm ">
                            <div class=" form-group row pt-1 m-0">
                                <div class="col-md-6 p-0 m-0">
                                    <label class="m-0 p-0" style="font:bolder;color:black ;  font-size:14px;font-weight:bold">@plist.name</label>
                                    <span class="m-0 p-0" style="font-size:8px">@plist.postDate</span>
                                </div>
                            </div>
                            <div class=" m-0 " style="text-align:right">
                                <label class="m-0" style="background-color: #ED50F1; color: black; border-radius: 10px; padding: 3px 12px; font-size: 9px ">@tlist.tagName</label>
                            </div>
                            <div class=" m-0 p-0">
                                <h5 style="font-size:14px">@plist.postTitle</h5>
                                <p class="pl-0 p-0" style=" font-size:9px; text-align:justify">
                                    @plist.post
                                </p>
                            </div>

                            @if (plist.imgSrc != null || plist.imgSrc != "")
                            {
                                <div class="shadow-lg form-group row m-0">

                                    <img src="@plist.imgSrc" style="display: block; margin-left: auto; margin-right: auto; width: 100%;">

                                </div>

                            }

                        <div class="form-group row m-0 p-0">
                            
                            <div class="col-12 m-0 p-1" style="">
                                <label class=" m-0">
                                    <i style="color: blue; font-size: 12px;" class="far fa-comment"></i>&nbsp;<span style="font-size: 10px; color: black; font-weight: bold;">@plist.noOfComment</span>
                                </label>
                            </div>
                        </div>
                            <hr class="m-0" />
                            <div class="form-group row m-0 p-0">
                                <div class="comment col-12 p-1 m-0" style="text-align:center">
                                    <button @onclick="() => GetPostID(plist)" class="btn btn-outline-primary m-0 p-0" style="width:100%;">
                                        <span class=""><i style="color:blue;font-size:10px" class="far fa-comment"></i></span>
                                        <span class="" style="color: black; font-size:10px ;">Answer</span>
                                    </button>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            }

        }

    }
</body>
</html>

@code{
    [Parameter]
    public string pid { get; set; }
    [Parameter]
    public string uid { get; set; }

    [Inject]
    public NavigationManager nvi { get; set; }

    List<Posts> postList = new List<Posts>();
    List<Tags> tagList = new List<Tags>();

    protected override async Task OnInitializedAsync()
    {
        await GetPost();
        //await GetPostID();
    }
    public async Task GetPost()
    {
        var list = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getPost".GetJsonAsync<List<Posts>>();
        //get all tag 
        var list2 = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getTag".GetJsonAsync<List<Tags>>();


        postList = list;
        tagList = list2;


    }


    public void GetPostID(Posts post)
    {

        string redirectURL = "Comment/"+uid+"/" + post.postID;
        nvi.NavigateTo(redirectURL);
    }




}